:root {
  font-size: 16px;
  --primary-color: #007bff;
  --gary: rgba(0, 0, 0, 0.67);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
ol,
ul {
  list-style: none;
  padding: 0;
}

.bg-red {
  background: red !important;
}

.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}

.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
